* {
	color: white;
}

header {
	min-height: 10vh;
	width: 100vw;
	background-color: black;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	position:absolute;
	bottom: 10px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin:10px;
	background-color: black;
}

h1 {
	font-size: 4em;
	margin: 20px;
	padding: none;
	border: none;
}

h2 {
	margin-top: 0;
	margin-bottom: 20px;
}

h3 {
	font-size: 2em;
	color: white;
	text-align: center;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin: 5px;
}

.rps {
    max-width: 200px;
    max-height: 200px;
    min-width: 50px;
    min-height: 50px;
    width: 100%;
    height: auto;
}

.compu { 
	/* Adds margin for non-button images to make equal sizing */
	margin: 5px;
}

#arena {
	height: 50vw;
	width: auto;
}

#trainersBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.playBox {
	margin: 15px;
	border: 5px solid black;
	border-radius: 25px;
	background-color: gray;
}

#arenaText {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	color: black;
	font-size: xx-large;
	padding: 25px;
	border: 0 solid transparent;
	border-radius: 25px;
}